body {
    margin: 0;
    padding: 0;
}
#puzzle-container {
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    float: left;
 
}
#puzzle-action-container { 
    float: left;
}
#puzzle-action-container .action-heading {
    text-align: center;
}
.slice {
    /* display: inline-block; */
    margin: 0;
    position: absolute;
    background-repeat: no-repeat;
    
}